html, body
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh
    overflow: hidden

body
    perspective: 500vw

.content
    width: 100vw
    height: 100vh
    transition-duration: 1s

    &[animation="left"]
        transform: rotateY(-10deg)
    
    &[animation="right"]
        transform: rotateY(10deg)

    .flag
        width: 110vw
        height: 110vh
        position: absolute
        top: -5vw
        left: -5vw
        transform: rotateY(20deg)
        background-image: url('../imgs/flag.jpg')
        background-size: cover
        background-position: center

    .donations-wrapper
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        display: flex
        flex-direction: column

        .donations-line
            display: flex
            width: 100%

            &:not(:first-child)
                margin-top: -4vw

            .donation 
                width: 10vw
                height: 8vw
                overflow: hidden
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
                display: flex
                justify-content: center
                align-items: center
                opacity: 0.3
                transition-duration: 0.7s
                
                &:hover
                    opacity: 1

                img
                    width: 100%
                    height: auto

                &:nth-child(even)
                    margin-top: 4vw
                    margin-left: -2.5vw

                &:nth-child(odd)
                    margin-left: -2.5vw

                &:first-child
                    margin: 0 !important
