* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-container {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.btn-container button {
  width: 120px;
  padding: 8px;
  margin: 0 0 8px 0;
  display: block;
  cursor: pointer;
}

.ball-containers {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #212121;
  overflow: hidden;
}

.ball-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.ball-container .string {
  width: 2px;
  height: 20vw;
  background: #333;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}

.ball-container .discoball {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(200, 100, 100, 0.7);
  transform: rotateX(90deg);
  transform-style: preserve-3d;
  animation: rotate-discoball 16s linear infinite;
  transition-duration: 2s;
}

.ball-container .mirror {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition-duration: 2s;
  opacity: 1;
}

.ball-container .glow {
  position: absolute;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  top: 50px;
  left: 50%;
  margin-left: -75px;
  filter: blur(30px);
  opacity: 0.15;
}

.ball-container .text {
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ball-container .text p {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 0.2vw 3vw;
  border-radius: 10px;
}

.ball-container .text .category {
  font-size: 2vw;
}

.ball-container .text .amount-wrapper {
  font-size: 5vw;
}

@keyframes rotate-discoball {
  from {
    transform: rotateX(90deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(90deg) rotateZ(360deg);
  }
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.credit {
  position:absolute;
  bottom:30px;
  right:30px;
  font-family:sans-serif;
  color:white;
}
.credit a {
  color:#bbb;
}

.mirror.hiddden {
  opacity: 0 !important;
}

.donations-spots {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 100;
  position: absolute;
  gap: 10vw;
  padding-bottom: 2vw;
  opacity: 0.8;
}

.donations-spots .donation-spot {
  color: white;
  padding: 0.2vw;
  border: 1vw solid #393939;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

.donations-spots .donation-spot .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-color: #545454;
}

.donations-spots .donation-spot .donation-amount {
  font-size: 3vw;
}