$color-bg: #fa4616
$color-text: #ffffff

@function randomNum($min, $max)
  $rand: random()
  $randomNum: $min + floor($rand * (($max - $min) + 1))

  @return $randomNum

body
    background-color: $color-bg
    color: $color-text
    overflow: hidden
    font-family: 'Heebo', sans-serif

.stem
    height: 0
    transition-duration: 1s

.content-circle
    position: absolute
    width: 100vw
    height: 100vh
    top: -20vh
    left: 0
    animation: rotatation 100s linear infinite

    .circle
        border: 0.15vw solid $color-text
        width: 20vw
        height: 20vw
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        border-radius: 50%

    .flower
        margin: 0
        padding: 0
        position: absolute
        top: 50%
        left: 50%

        .flower-container
            margin-top: -10vw
            transform: scale(0.3)


.bottom-flowers
    width: 100vw
    height: 30vh
    position: absolute
    bottom: 0
    left: 0
    display: flex
    justify-content: flex-start
    align-items: center

    .donation
        padding: 0
        width: max-content
        height: 4vw
        margin: 0 1vw

        .flower-container
            transform: scale(0.5)

        .amount
            font-size: 2vw
            margin: 0
            font-size: bold
            margin-top: 1vw

        .name
            font-size: 1.5vw
            margin: 0

            span
                display: block

.titles
    position: absolute
    left: 50%
    transform: translateX(-50%)
    margin-top: 15vh
    z-index: 1

    span, h1, h2
        display: block
        font-weight: bold
        margin: 0
        padding: 0

    h2
        .up, .down
            font-size: 1vw
            line-height: 1vw

        .middle
            font-size: 3vw
            line-height: 3vw
            padding-bottom: 0.5vw

    h1
        .amount
            font-size: 2.5vw
            line-height: 3vw
            margin-top: 3vw

        .down
            span
                display: inline-block
                font-size: 1vw
                line-height: 1vw


    
@keyframes rotatation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)