body
    font-family: 'Rubik', sans-serif
    overflow: hidden

.text-wrapper
    position: absolute
    z-index: 1
    display: none

    .content
        position: relative
        width: 100%
        height: 100%

text
    // color: #dff3b0
    font-weight: bold
    fill: white
    

.used
    path
        stroke: black !important

//  -159px, -67px - final
// -139px, -55px - original
// - difference 20px, 12px