// $translateX: 0
    
#container.parallax-container
    width: 100vw
    height: 100vh
    background-image: url("../imgs/bg.png")
    background-repeat: repeat
    max-width: none

.spheres
    width: 90vw
    height: 200vh
    position: relative
    top: 0 
    left: 5vw
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 2vh
    margin-top: -30vw

    .sphere
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        background-image: url("../imgs/sphere.png")
        background-repeat: no-repeat
        background-position: center
        background-size: 100% 100%
        margin: 0 auto
        transition-timing-function: linear
        position: absolute
        // top: 180vh
        bottom: 0
        // transform: translate(0, 32vh)
        z-index: 2
        margin-top: -10vw
        // animation: antigravity 5s infinite alternate ease-in-out
        // transition-duration: 15s

        // &.animate
        //     // transform: translate(0, -120vh)
        //     top: 0


        &.large
            width: 30vh * 1.2
            height: 32vh * 1.2

        &.medium
            width: 30vh * 1
            height: 32vh * 1


        &.small
            width: 30vh * 0.8
            height: 32vh * 0.8

        span
            bottom: -2.1vw
            font-size: 4vh
            position: absolute
            color: white
            font-family: 'Parisienne', cursive
            width: 150%
            text-shadow: 1px 1px 4px #1f7bac
            font-weight: bold
            line-height: 2vw

        img
            width: 70%
            height: 70%
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -40%)
            border-radius: 50%

// @keyframes antigravity
//     0%
//         transform: translateX(0vw)
//     50%
//         transform: translateX(-10vw)
//     100%
//         transform: translateX(10vw)